<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Тариф</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  

    <div class="main">
      <div class="about" style="background-image: url('{{.Image}}')">
        <div class="info_rate" >  
          <h2><em>{{.Name}}</em></h2>
          <div class="activity">
            <h3><em>{{.Gb}} Гб</em></h3>
            <h3><em>{{.Min}} мин</em> </h3>
            <h3><em>{{.Sms}} смс</em> </h3>
            <h3><em>{{.Min}} мин</em> </h3>
            <h4>{{.Price}} руб/мес</h4>
          </div>
         
        </div>
      </div>
    </div>
    
</body>
</html> 